@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #C6FE1E;
    --secondary-color: #030028;
    --light-grey-color: #EBEBEB;
    --medium-grey-color: #E4E4E4;
    --dark-grey-color: #575757;
    --highlight-color: #1364FF;
    --black-color: #000000;
    --black-grey-color: #18181A;
}

body{
    font-family: Poppins;
}


.bg-light-grey{
    background-color: var(--light-grey-color);
}

.bg-medium-grey{
    background-color: var(--medium-grey-color);
}

.bg-black-grey{
    background-color: var(--black-grey-color);
}

.bg-myprimary{
    background-color: var(--primary-color);
}

.bg-dark-grey{
    background-color: var(--dark-grey-color);
}

.text-dark-grey{
    color: var(--dark-grey-color);
}

.py-6{
    padding-top: calc(1rem * 4);
    padding-bottom: calc(1rem * 4);
}

nav > i:hover {
    cursor: pointer;
}

.medium-text{
    line-height: 100%;
    font-size: .8rem;

}

.small-text{
    line-height: 100%;
    font-size: .7rem;
}

.large-text{
    line-height: 100%;
    font-size: 1rem;
}

.activity-icon{
    width: 35px;
    height: 35px;
}

.px-6{
    padding-left: 3.5rem;
    padding-right: 3.5rem
}

.px-7{
    padding-left: 4rem;
    padding-right: 4rem
}